In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_out = pd.read_csv("test.csv")

In [3]:
train.head(50)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S

In [4]:
train['Embarked'].replace({'S':1, 'C':2, 'Q':3}, inplace = True)
train['Sex'].replace({'male':0,'female':1}, inplace = True)
train.drop(['PassengerId','Ticket', 'Fare', 'Cabin', 'Name'], axis=1,inplace=True)
train["Age"] = train.groupby(['Sex','Pclass','SibSp','Parch'])['Age'].transform(lambda x: x.fillna(x.mean()))
train["Age"] = train.groupby(['Sex','Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))
train["Embarked"] = train.groupby(['Sex','Pclass'])['Embarked'].transform(lambda x: x.fillna(x.mean()))

In [5]:
X = train.drop(['Survived'], axis='columns')
y = train['Survived']

In [6]:
##Repetindo modificações para o dataset de teste
test['Embarked'].replace({'S':1, 'C':2, 'Q':3}, inplace = True)
test['Sex'].replace({'male':0,'female':1}, inplace = True)
test.drop(['PassengerId','Ticket', 'Fare', 'Cabin', 'Name'], axis=1,inplace=True)
test["Age"] = test.groupby(['Sex','Pclass','SibSp','Parch'])['Age'].transform(lambda x: x.fillna(x.mean()))
test["Age"] = test.groupby(['Sex','Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [7]:
test["Age"] = test.groupby(['Sex','Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))

In [8]:
test.head(50)

    Pclass  Sex        Age  SibSp  Parch  Embarked
0        3    0  34.500000      0      0         3
1        3    1  47.000000      1      0         1
2        2    0  62.000000      0      0         3
3        3    0  27.000000      0      0         1
4        3    1  22.000000      1      1         1
5        3    0  14.000000      0      0         1
6        3    1  30.000000      0      0         3
7        2    0  26.000000      1      1         1
8        3    1  18.000000      0      0         2
9        3    0  21.000000      2      0         1
10       3    0  26.594203      0      0         1
11       1    0  46.000000      0      0         1
12       1    1  23.000000      1      0         1
13       2    0  63.000000      1      0         1
14       1    1  47.000000      1      0         1
15       2    1  24.000000      1      0         2
16       2    0  35.000000      0      0         3
17       3    0  21.000000      0      0         2
18       3    1  27.000000      1      0         1
19       3    1  45.000000      0      0         2
20       1    0  55.000000      1      0         2
21       3    0   9.000000      0      1         1
22       1    1  39.375000      0      0         1
23       1    0  21.000000      0      1         2
24       1    1  48.000000      1      3         2
25       3    0  50.000000      1      0         1
26       1    1  22.000000      0      1         2
27       3    0  22.500000      0      0         2
28       1    0  41.000000      0      0         1
29       3    0  19.000000      2      0         2
30       2    0  50.000000      1      0         1
31       2    0  24.000000      2      0         1
32       3    1  33.000000      1      2         1
33       3    1  16.585000      1      2         1
34       1    0  30.000000      1      0         2
35       3    0  18.500000      0      0         2
36       3    1  24.865385      0      0         1
37       3    1  21.000000      0      0         1
38       3    0  25.000000      0      0         1
39       3    0  26.594203      0      0         1
40       3    0  39.000000      0      1         2
41       1    0  39.461538      0      0         1
42       3    0  41.000000      0      0         1
43       2    1  30.000000      0      0         1
44       1    1  45.000000      1      0         1
45       3    0  25.000000      0      0         1
46       1    0  45.000000      0      0         2
47       3    0  26.594203      0      0         3
48       1    1  60.000000      0      0         2
49       3    1  36.000000      0      2         1

In [9]:
test[test.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pclass, Sex, Age, SibSp, Parch, Embarked]
Index: []

In [10]:
##Separando dataset para treino e teste
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
##Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model1 = LogisticRegression()
model1.fit(X_train, y_train)
pred = model1.predict(X_test)
log_acc = accuracy_score(pred, y_test)
print(log_acc)

0.8212290502793296

In [12]:
##RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier(n_estimators =100)
model2.fit(X_train,y_train)
pred_2=model2.predict(X_test)
rcf=accuracy_score(pred_2,y_test);
print(rcf)

0.8212290502793296

In [13]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
model4=KNeighborsClassifier(n_neighbors=9)
model4.fit(X_train,y_train)
pred_4=model4.predict(X_test)
knn=accuracy_score(pred_4,y_test);
print(knn)

0.7821229050279329

C:\Users\Danilo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [14]:
test.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    0  34.5      0      0         3
1       3    1  47.0      1      0         1
2       2    0  62.0      0      0         3
3       3    0  27.0      0      0         1
4       3    1  22.0      1      1         1

In [15]:
X.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    0  22.0      1      0       1.0
1       1    1  38.0      1      0       2.0
2       3    1  26.0      0      0       1.0
3       1    1  35.0      1      0       1.0
4       3    0  35.0      0      0       1.0

In [16]:
model2.fit(X,y)
pred = model2.predict(test) #Utilizando Randon Forest

In [17]:
sub = pd.DataFrame({"PassengerId": test_out["PassengerId"],"Survived":pred})

sub.to_csv('sub.csv',index=False)

In [18]:
test.groupby(['Sex']).mean()

       Pclass        Age     SibSp     Parch  Embarked
Sex
0    2.334586  29.664514  0.379699  0.274436  1.398496
1    2.144737  29.610879  0.565789  0.598684  1.578947